/testv/
transform_news/clean_news_notebook.ipynb
fetch_news/app_3_notebook.ipynb




.ruff_cache
.pytest_cache
transform_news_2/tomastestproject-433206-adc5bc090976.json

transform_stocks/fetch_stocks_clean_daily.ipynb
transform_stocks/get_stocks_clean.ipynb
transform_stocks/get_stocks_clean.py
test.ipynb
testing.ipynb
fetch_stocks_raw.ipynb
fetch_stocks_raw2.py
fetch_stocks_raw_notebook.ipynb
fixing.py
clean_stocks_copy.py
test_fetch_stocks_raw.py
fetch_news/__pycache__

fetch_stocks/__pycache__
transform_news_2/__pycache__
test_clean_news.py
/ml_model/ml-model
/ml_model/credentials
/ml_model/.env

/frontend/frontend
