<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlyBears - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="{{ url_for('static', filename='images/onlybears.png') }}" alt="OnlyBears Logo">
            <h2>Dashboard</h2>

        </div>
        <div class="topbar-stats">
            <div class="stat" id="latest-run" style="background-color: #17c3b2;">
                <div class="stat-container">
                    <h3>Latest Run</h3>
                    <div class="stat-info">
                        <p>Date</p>
                        <h2 id="stat-value">2024-09-09</h2>
                    </div>
                </div>
            </div>
            <div class="stat" id="latest-run" style="background-color: #ffcb77;">
                <div class="stat-container">
                    <h3>Prediction</h3>
                    <div class="stat-info">
                        <p>Price</p>
                        <h2 id="stat-value">1.23 $</h2>
                    </div>
                </div>
            </div>
            <div class="stat" id="latest-run" style="background-color: #227c9d;">
                <div class="stat-container">
                    <h3>Closing Price</h3>
                    <div class="stat-info">
                        <p>Price</p>
                        <h2 id="stat-value">1.42 $</h2>
                    </div>
                </div>
            </div>
            <div class="stat" id="latest-run" style="background-color: #fe6d73;">
                <div class="stat-container">
                    <h3>Difference</h3>
                    <div class="stat-info">
                        <p>Price</p>
                        <h2 id="stat-value">0.19 $</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="dash-container" id="model-table">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                              <th scope="col">Model name</th>
                              <th scope="col">MAE</th>
                              <th scope="col">MAPE</th>
                            </tr>
                          </thead>
                        {% for model in models %}
                        <tr class="table-row">
                            <td>{{ model.modelname }}</td>
                            <td>{{ model.MAE }}</td>
                            <td>{{ model.MAPE }}</td>
                        </tr>
                        {% endfor %}
                    </table>

                </div>
            </div>
            <div class="dash-container" id="stocks">
                <div id="plotly-graph"></div>
            </div>
        </div>

    </div>
    <script>
        var graph = {{ graphJSON | safe }};
        Plotly.newPlot('plotly-graph', graph);
    </script>
</body>
</html>